<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Board">
    <insert id="save" parameterType="board">
        insert into board_table(boardWriter, boardPassword, boardTitle, boardContents, boardCreatedDate)
        values (#{boardWriter}, #{boardPassword}, #{boardTitle}, #{boardContents}, now())
    </insert>

    <insert id="saveFile" parameterType="board">
        insert into board_table
            (boardWriter, boardPassword, boardTitle,
                boardContents, boardCreatedDate, boardFileName)
        values (#{boardWriter}, #{boardPassword}, #{boardTitle},
                #{boardContents}, now(), #{boardFileName})
    </insert>

    <select id="findAll" resultType="board">
        select * from board_table order by id desc
    </select>

    <update id="updateHits" parameterType="Long">
        update board_table set boardHits=boardHits+1 where id=#{id}
    </update>

    <select id="findById" parameterType="Long" resultType="board">
        select * from board_table where id=#{id}
    </select>

    <delete id="delete" parameterType="Long">
        delete from board_table where id=#{id}
    </delete>

    <update id="update" parameterType="board">
        update board_table set boardTitle=#{boardTitle}, boardContents=#{boardContents} where id=#{id}
    </update>

    <select id="pagingList" parameterType="java.util.HashMap" resultType="board">
        select * from board_table order by id desc limit #{start}, #{limit}
    </select>

    <select id="count" resultType="int">
        select count(id) from board_table
    </select>

    <select id="search" parameterType="java.util.HashMap" resultType="board">
        select * from board_table where ${type}
            like concat('%', #{q}, '%') order by id desc;
    </select>

<!-- id는 repository에서 호출할 때 쓰는 id값,
    resultMap은 아래에서 지정한 resultMap의 id값 -->
    <select id="join" resultMap="joinTest">
        select * from member1 m
            join board1 b on m.id = b.boardWriter
            join comment1 c on m.id = c.commentWriter
    </select>

<!-- id는 호출할 때 쓰임. type은 담아갈 자바 클래스 타입(mybatis-config에서 지정한 약어) -->
    <resultMap id="joinTest" type="member1">
        <!-- id 태그는 pk 컬럼에 대한 내용, column은 DB 컬럼명, property는 DTO의 필드명 -->
        <id column="id" property="id"/>
        <result column="memberId" property="memberId"/>
        <result column="memberPassword" property="memberPassword"/>
        <result column="memberName" property="memberName"/>
        <!-- 참조관계로 맺어진 자식 테이블에서 가져올 내용
             property: DTO에서 선언한 BoardDTO 타입의 컬럼이름
             column: 해당 테이블의 pk
             javaType: BoardDTO의 클래스 타입(mybatis-config에서 지정한 약어) -->
        <association property="board1DTO" column="id" javaType="board1">
            <!-- 안에 쓰는건 위에서 쓴거와 동일. 필드, 컬럼명, pk는 id 태그 사용 -->
            <id column="id" property="id"/>
            <result column="boardTitle" property="boardTitle"/>
            <result column="boardWriter" property="boardWriter"/>
            <result column="boardContents" property="boardContents"/>
        </association>
        <association property="comment1DTO" column="id" javaType="comment1">
            <id column="id" property="id"/>
            <result column="commentWriter" property="commentWriter"/>
            <result column="commentContents" property="commentContents"/>
        </association>
    </resultMap>

</mapper>














