<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Board">
    <insert id="save" parameterType="board">
        insert into board_table(boardWriter, boardPassword, boardTitle, boardContents, boardCreatedDate)
        values (#{boardWriter}, #{boardPassword}, #{boardTitle}, #{boardContents}, now())
    </insert>

    <select id="findAll" resultType="board">
        select * from board_table order by id desc
    </select>

    <update id="updateHits" parameterType="Long">
        update board_table set boardHits=boardHits+1 where id=#{id}
    </update>

    <select id="findById" parameterType="Long" resultType="board">
        select * from board_table where id=#{id}
    </select>

</mapper>